#Tipos de datos estructurado en Python
1. Listas
2. Tuplas
3. Diccionarios
4. Conjuntos (opcional)

#Listas
- Tipo de dato que agrupa variables o valores.
- Estructura secuencial (indexados empezando por 0).
- Se declara de dos formas: 
    - Usando [ ]
    - Usando list()
- Puede contener tipos de datos diversos (en otros lenguajes de programación eso no es posible de forma directa).
- Los elementos internos se seleccionan con [ ].
- Soporta Slicing.
- Son MUTABLES.
- Generadores 
- Al ser una clase contiene muchos métodos útiles.

In [ ]:
numeros = [10, 5, 2, 3, 1]
print(numeros)

numeros2 = list()
numeros2.append(10)
numeros2.append(5)
numeros2.append(2)
numeros2.append(3)
numeros2.append(1)
print(numeros2)
numeros[2]= 20 
numeros [-1] = 33
numeros.append(88)
print(numeros)

In [ ]:
#Tipos diversos
cosas = [12, 2, True, "José", 1.57, ["pera", "kiwi", "uva"]]
print(cosas)
print(cosas[1])
print(cosas[4])
print(cosas[5])
print(cosas[5][1])
print(cosas[3][1:3])
cosas[3] = cosas[3].upper()
print(cosas)

In [ ]:
numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
print(numeros)
#Slicing
#1.- Imprimir del 4 al 8
print(numeros[3:8])
#2.- Imprimir 9, 10
print(numeros[8:10]) 
print(numeros[-3:-1])
#3.- Imprimir la lista en orden inverso
print(numeros[ : :-1])

In [ ]:
#Crear una lista con generador
numeros = [x*3 for x in range (1001)]
print(numeros)

#Función range()
Tiene los mismos componentes que el Slicing
- inicio, stop, incremento
- range(1,101,1)

In [ ]:
numeros = [x for x in range (50, 101, 5)]
print(numeros)

#Métodos disponibles de las listas

In [ ]:
dir(list)

In [ ]:
numeros = [4, 1, 15, 8, 22, 34, 50, 15]
print(numeros)
numeros.append(99)
print(numeros)


frutas = ["uvas", "kiwi", "manzana"]
copia = frutas
print(frutas)
print(copia)
frutas.append("naranja")
print(frutas)
print(copia)

colores = ["rojo", "azul", "blanco"]
copia2 = colores.copy()
print(colores)
print(copia2)
colores.append("verde")
print(colores)
print(copia2)

print("Números de veces que aparece el 15 = ", numeros.count(15))
nombres = ["José", "Pedro", "Karina"]
otrosnombres = ["Josué", "Diana", "Dalia"]
print(nombres)
print(otrosnombres)
nombres = nombres + otrosnombres
print(nombres)
print(otrosnombres)

#Lo mismo con el método extend
otrosnombres.extend(["Jesús", "María", "José"])
print(otrosnombres)
print("jesús está en la posición: ", otrosnombres.index("Jesús"))
otrosnombres.insert(4, "Espíritu Santo")
print(otrosnombres)
#Pop
resultado = otrosnombres.pop()
print(otrosnombres)
print(resultado)

#Tuplas 
### Características:

- Datos agrupados. 
- Se declara usando:
  - ()
  - tuple()
- Estructura secuencial, indexada a partir de 0.
- Pueden tener de 0 a n elementos.
- NO SON MUTABLES (no se puede eliminar y/o modificar).
- Son buenas para almacenar información de consulta.
- Pueden almacenar información de diferentes tipos de datos.
- Pueden estar anidadas.
- Tienen métodos útiles.

In [12]:
info = ("juan23", "dios1234", "123.232.1.12")
print(info)
print(info[1])
#info[1] = "patito23"

numeros = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15)
print(numeros)
print(numeros [5:11])

cosas = (info, numeros)
print(cosas)
print(cosas [1] [5:11:1])
print(cosas [0] [2] [4:7])

('juan23', 'dios1234', '123.232.1.12')
dios1234
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15)
(5, 6, 7, 8, 9, 10)
(('juan23', 'dios1234', '123.232.1.12'), (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15))
(5, 6, 7, 8, 9, 10)
232

# Métodos de las tuplas
Son los mismos de las listas pero los que no involucren mutabilidad.

In [13]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

# Diccionarios
### Características:

- Agrupan datos de forma no lineal.
- Se declaran con:
    - { }
    - dict()
- Formado por pares del tipo llave:valor, donde: 
    - llave es de tipo String (siempre).
    - valor puede ser de cualquier tipo de datos, incluyendo los diccionarios.
- Se seleccionan con la llave de la forma: ["id_llave"].
- Son mutables.
- Son anidables.
- Son equivalentes al tipo de dato JSON del lenguaje JavaScript (JS).

In [36]:
alumno = {"nombre":"José"}
print(alumno)
print(alumno ["nombre"])
alumno = {"nombre":"José", "NC":"212129211", "edad":18}
print("Edad del alumno:", alumno ["edad"])
print("Nombre del alumno:", alumno ["nombre"].upper())
print(alumno)

print("Alumno2:")
alumno2 = dict() #{}
alumno2 ["nombre"] = "josé"
print(alumno2)
alumno2 ["NC"] = "212129211"
alumno2 ["edad"] = 18
print(alumno2)
alumno2 ["edad"] = alumno ["edad"] + 1
print(alumno2)

{'nombre': 'José'}
José
Edad del alumno: 18
Nombre del alumno: JOSÉ
{'nombre': 'José', 'NC': '212129211', 'edad': 18}
Alumno2:
{'nombre': 'josé'}
{'nombre': 'josé', 'NC': '212129211', 'edad': 18}
{'nombre': 'josé', 'NC': '212129211', 'edad': 19}

In [59]:
cliente = {"id":"CT2122", "nombre":"José Pedroza Rosales", "teléfonos":"casa = 5521218972 cel = 044551218411"  }
print(cliente)
cliente = {"id":"CT2122", "nombre":{"nombres":["José", "Eduardo"], "paterno":"Pedroza", "materno":"Rosales"}, "teléfonos":{"casa":"5521218972", 
                          "trabajo":"5578121942", "celular":"044551218411"},
           "productos":{"ahorro":{"numero_cuenta":"7788", "ahorro":2500.5},
            "tarjetas":[{"tipo":"débito", "saldo" : 10000.5},{"tipo":"crédito preferente", "límite" : 250000.5},
                        {"tipo":"lite", "límite" : 15000.5}
                        ]},
                        "dirección":{
                            "calle":"Av. central",
                            "número":1245,
                            "colonia":"Impulsora",
                            "delegación":"Nezahualcóyotl",
                        "estado":{
                            "clave":15,
                            "nombre_corto":"Edomex",
                            "nombre":"Estado de México"}
                    }
                  }
                                                                       
print(cliente["teléfonos"]["casa"])
print(cliente)

{'id': 'CT2122', 'nombre': 'José Pedroza Rosales', 'teléfonos': 'casa = 5521218972 cel = 044551218411'}
5521218972
{'id': 'CT2122', 'nombre': {'nombres': ['José', 'Eduardo'], 'paterno': 'Pedroza', 'materno': 'Rosales'}, 'teléfonos': {'casa': '5521218972', 'trabajo': '5578121942', 'celular': '044551218411'}, 'productos': {'ahorro': {'numero_cuenta': '7788', 'ahorro': 2500.5}, 'tarjetas': [{'tipo': 'débito', 'saldo': 10000.5}, {'tipo': 'crédito preferente', 'límite': 250000.5}, {'tipo': 'lite', 'límite': 15000.5}]}, 'dirección': {'calle': 'Av. central', 'número': 1245, 'colonia': 'Impulsora', 'delegación': 'Nezahualcóyotl', 'estado': {'clave': 15, 'nombre_corto': 'Edomex', 'nombre': 'Estado de México'}}}